<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<div class="section-container">
    <div *ngIf="character" class="card">
      <img class="card-img-top" [src]="character.image" alt="{{ character.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Status: </b>{{character.status}} - {{character.species}}</li>
        <li class="list-group-item"><b>Species: </b>{{ character.species }}</li>
        <li class="list-group-item"><b>Gender: </b>{{ character.gender }}</li>
        <li class="list-group-item"><b>Origin: </b>{{ character.origin.name }}</li>
        <li class="list-group-item"><b>Location: </b>{{ character.location.name }}</li>
      </ul>
      <div class="card-body text-center">
        <a [routerLink]="['/characters']" class="btn btn-success">Voltar</a>
        
      </div>
    </div>
  </div>
